@page "/"
@implements IAsyncDisposable
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BookstoreDb> DBFactory

<PageTitle>Bookstore - Home</PageTitle>

<div class="row mt-5 mx-auto">
    @if (books is null)
    {
        <p>Loading...</p>
    }
    else
    {
    
        <div class="hstack flex-wrap gap-3">
            @foreach (var book in books)
            {
                <BookCard Book="@book" />
            }
        </div>
    }
</div>

@code {
    private BookstoreDb context { get; set; }

    private IEnumerable<Book> books => context.Books.AsNoTracking();

    protected override void OnInitialized()
    {
        context = DBFactory.CreateDbContext();
    }
    
    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}